@use "../tokens/variables" as var;

html {
  font-size: 62.5%;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-size: 1.6rem;
  line-height: var.$line-height-normal;
  color: #111;
}

h1 {
  font-size: var.$font-heading-lg;
  line-height: var.$line-height-tight;
}

h2 {
  font-size: var.$font-heading-sm;
  line-height: var.$line-height-normal;
}

p {
  font-size: var.$font-body;
  max-width: 65ch;
}

ul,
ol {
  font-size: var.$font-body;
  line-height: var.$line-height-normal;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

input,
textarea,
select,
button {
  font: inherit;
}
