//Spacing
$space-1: 0.8rem; // 8px
$space-2: 1.6rem; // 16px
$space-3: 3.2rem; // 32px
$space-4: 6.4rem; // 64px

$container-padding: $space-2;

$section-padding-mobile: $space-2;
$section-padding-desktop: calc($space-4 * 1.5);
$section-padding-xl: calc($space-4 * 1.75);
